:root {
    --default-spacing: 8px;
    --container-max-width: 1440px;
}

/* flex start */

.flex {
    display: flex;
}

.flex.flex-col {
    flex-direction: column;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-start {
    justify-content: flex-start;
}

.flex.align-start {
    align-items: start;
}

.flex.align-center {
    align-items: center;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex .flex-shrink-0 {
    flex-shrink: 0;
}

.flex.flex-1-3 > * {
    width: 33.33%;
}

.flex.flex-1-4 > * {
    width: 25%;
}

/* flex end */

/* ----------------------------------------------------------- */


/* grid start */

.grid {
    display: grid;
}

/* row1
row2 row2 */
.grid.grid-1r-4c {
    grid-template-columns: repeat(4, 1fr);
}

.grid.grid-2r-4c {
    grid-template-columns: repeat(4, 2fr);
}

.grid.grid-2r-3c {
    grid-template-columns: repeat(3, 2fr);
}


/* grid end */

/* ----------------------------------------------------------- */

/* Gap start */


.gap-1 {
    gap: var(--default-spacing);
}

.gap-3 {
    gap: calc(3 * var(--default-spacing));
}

.gap-6 {
    gap: 46px;
}

.gap-7 {
    gap: calc(7 * var(--default-spacing));
}

.gap-8 {
    gap: calc(8 * var(--default-spacing));
}

.gap-9 {
    gap: calc(9 * var(--default-spacing));
}

.gap-12 {
    gap: calc(12 * var(--default-spacing));
}

.gap-21 {
    gap: calc(21 * var(--default-spacing));
}

/* Gap end */

/* ----------------------------------------------------------- */

/* opacity start */

.opactity-half {
    opacity: 0.5;
}

/* opacity end */

/* ----------------------------------------------------------- */

/* height start */

.height-35 {
    height: calc(35 * var(--default-spacing));
}

/* height end */

/* ----------------------------------------------------------- */

/* object-fit start */

.object-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.object-contain img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* object-fit end */

/* ----------------------------------------------------------- */

/* text start */

.color-white {
    color: white;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* text end */

/* ----------------------------------------------------------- */

/* background start */

.background-no-repeat {
    background-repeat: no-repeat;
}

.background-cover {
    background-size: cover;
}

.background-contain {
    background-size: contain;
}


/* background start */

/* ----------------------------------------------------------- */

/* padding start */

.padding-top-4 {
    padding-top: calc(4 * var(--default-spacing));;
}

.padding-top-10 {
    padding-top: calc(10 * var(--default-spacing));;
}

.padding-bottom-7 {
    padding-bottom: calc(7 * var(--default-spacing));;
}

.padding-bottom-12 {
    padding-bottom: calc(12 * var(--default-spacing));;
}

.padding-y-10 {
    padding-top: calc(10 * var(--default-spacing));
    padding-bottom: calc(10 * var(--default-spacing));
}

.padding-x-4 {
    padding-left: calc(4 * var(--default-spacing));
    padding-right: calc(4 * var(--default-spacing));
}

/* padding end */

/* ----------------------------------------------------------- */

/* margin start */

.margin-0 {
    margin: 0;
}

.margin-bottom-5 {
    margin-bottom: calc(5 * var(--default-spacing));;
}

.margin-bottom-6 {
    margin-bottom: calc(6 * var(--default-spacing));;
}

.margin-bottom-9 {
    margin-bottom: calc(9 * var(--default-spacing));;
}

.margin-bottom-10 {
    margin-bottom: calc(10 * var(--default-spacing));;
}

.margin-bottom-12 {
    margin-bottom: calc(12 * var(--default-spacing));;
}

.margin-bottom-13 {
    margin-bottom: calc(13 * var(--default-spacing));;
}

.margin-bottom-14 {
    margin-bottom: calc(14 * var(--default-spacing));;
}

.margin-bottom-16 {
    margin-bottom: calc(16 * var(--default-spacing));;
}

.margin-bottom-22 {
    margin-bottom: calc(22 * var(--default-spacing));;
}

.margin-bottom-24 {
    margin-bottom: calc(24 * var(--default-spacing));;
}

.margin-bottom-32 {
    margin-bottom: calc(32 * var(--default-spacing));;
}

.margin-bottom-34 {
    margin-bottom: calc(34 * var(--default-spacing));;
}

.margin-bottom-35 {
    margin-bottom: calc(35 * var(--default-spacing));;
}

.margin-top-5 {
    margin-top: calc(5 * var(--default-spacing));;
}

.margin-top-17 {
    margin-top: calc(7 * var(--default-spacing));;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

/* margin start */

/* ----------------------------------------------------------- */

/* container start */

.container {
    max-width: var(--container-max-width);
    padding-left: calc(4 * var(--default-spacing));
    padding-right: calc(4 * var(--default-spacing));
    margin-left  : auto;
    margin-right : auto;
}

/* container end */

/* ----------------------------------------------------------- */

/* visibility start */

.visibility-hidden {
    visibility: hidden;
}

/* visibility end */

/* ----------------------------------------------------------- */

/* float start */

.float-right {
    float: right;
}

/* float end */

/* ----------------------------------------------------------- */

/* width start */

.width-fit-content {
    width: fit-content;
}

.width-100-pc {
    width: 100%;
}

/* width end */

/* ----------------------------------------------------------- */

/* position start */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

/* position end */

/* ----------------------------------------------------------- */

/* display start */

.dispay-inline {
    display: inline;
}

/* display end */


:root {
    --lighter-blue: #71DFDF;
    --light-blue  : #49A6A6;
    --dark-blue   : #013E46;
    --pale-blue   : #EFF8F7;
}

@import url(//db.onlinewebfonts.com/c/4ff6a11cffa6e8559bd96d4fc1cfa275?family=SoleilW01-Regular);

body {
    color      : #666666;
    font-size  : 18px;
    line-height: 23px;
    font-family: 'SoleilW01-Regular', sans-serif;
    margin     : 0;
}

p,
label {
    margin-top : 0;
    font-size  : 18px;
    line-height: 23px;
}

h1,
h2,
h3 {
    color      : var(--dark-blue);
    font-weight: bold;
    margin-top : 0;
}

h1 {
    font-size    : 64px;
    line-height  : 81px;
    margin-bottom: 40px;
}

h2 {
    font-size    : 48px;
    line-height  : 61px;
    margin-bottom: 20px;
}

h3 {
    font-size  : 36px;
    line-height: 46px;
}

h4 {
    font-size  : 24px;
    line-height: 29px;
    color      : var(--light-blue);
    font-weight: 400;
}

.text-light-blue {
    color: var(--light-blue);
}

.text-dark-blue {
    color: var(--dark-blue);
}

.background-light-blue {
    background-color: var(--light-blue);
}

.background-lighter-blue {
    background-color: var(--lighter-blue);
}

.background-pale-blue {
    background-color: var(--pale-blue);
}


.background-dark-blue {
    background-color: var(--dark-blue);
}

.border-dark-blue {
    border-color: var(--dark-blue);
}

/* .container {
    max-width    : 1376px;
    margin-left  : auto;
    margin-right : auto;
    padding-left : 32px;
    padding-right: 32px;
} */

.header {
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: space-between;
    align-items    : center;
    padding-top    : 47px;
    margin-bottom  : 124px;
}

.header .logo-img {
    margin-right: 16px;
}

.header-cta-container {
    display        : flex;
    justify-content: space-between;
    gap            : 16px;
    flex-flow      : row nowrap;
    align-items    : center;
    color          : #013E46;
    max-width      : 730px;
    width          : 100%;

}

.home-flex {
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: space-between;
    align-items    : center;
}

.home-flex p {
    margin: 0;
}

/* .home-flex > div {
    flex: 1 1 697px;
} */

.home-flex>div.home-flex-img {
    flex-basis: 673px;
}

.home-flex-img img {
    /* margin-left: 0; */
    display   : block;
    object-fit: cover;
    width     : 100%;
    height    : auto;
}

.header-container {
    margin-bottom: 133px;
}

.smaller-container {
    max-width: 1200px;
}

.smaller-container .home-flex {
    gap: 44px;
}

.home-flex-text * {
    width: fit-content;
}

.cta-btn {
    background-color: var(--lighter-blue);
    border-radius   : 4px;
    padding         : 14px 45px;
    font-weight     : 700;
    color           : #013E46;
    display         : block;
    width           : 248px;
    text-align      : center;
    box-sizing      : border-box;
    border          : none;
    font-size       : 18px;
    line-height     : 23px;
    height          : fit-content;
    cursor          : pointer;
}

.cta-btn.background-dark-blue {
    background-color: var(--dark-blue);
    color: white;
}

a {
    cursor         : pointer;
    color          : var(--dark-blue);
    text-decoration: none;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

footer {
    color: white;
}

.footer-container {
    padding-top   : 95px;
    padding-bottom: 77px;
}

.footer-container p {
    margin: 0;
}


.main-container .home-flex .home-flex-text,
.form-container .home-flex .home-flex-text {
    flex: 0 1 673px;
}

.main-container .home-flex {
    gap: 54px;
}

.main-container .home-flex .home-flex-img {
    flex: 1 1 712px;
}

.footer-background {
    background-image: url("../Images/woman-reading-ereader-with-cup.jpg");

}

.footer-img-container {
    max-width: 1212px;
}

.your-benefits-flex h3,
.your-benefits-flex p {
    margin: 0;
}

.your-benefits-flex .img-container {
    height       : 114px;
    margin-bottom: 48px;
}

.your-benefits-flex h3 {
    margin-bottom: 34px;
}

.compensate-height {
    display: grid;
}

.compensate-height>* {
    grid-column: 1;
    grid-row   : 1;
}

.form-container h4 {
    margin-bottom: 18px;
}


.form-container h3 {
    margin-bottom: 18px;
}


.form-side {
    max-width: 528px;
    width    : 100%;
}

.form-container .home-flex .home-flex-text {
    max-width: 673px;
}

.form-img-container {
    margin-left: 673px;
    max-width  : 1000px;
    margin-top : 185px;
    height     : 100%;
}

.request-form .flex,
.request-form input[type="text"],
.request-form input[type="email"] {
    width: 100%;
}

.request-form label {
    margin-bottom: 5px;
}

.request-form input[type="text"],
.request-form input[type="email"] {
    background   : #FFFFFF;
    border       : 1px solid #000000;
    box-sizing   : border-box;
    border-radius: 4px;
    padding      : 14px 8px;
    color        : #666666;
    font-size    : 18px;
}

footer h2,
footer h3 {
    margin-bottom: 0;
}

.contact-us-title {
    flex: 1 1 694px;
}

.contact-us-btns {
    flex: 0 1 568px;
}

.how-it-works-flex h4 {
    color      : var(--dark-blue);
    margin-top : 0;
    font-weight: 700;
    margin-bottom: 16px;
}

.how-it-works-flex p {
    margin: 0;
}

.what-our-clients-say-container h3 {
    margin-bottom: 4px;
}

.client-box {
    border       : 3px solid var(--light-blue);
    border-radius: 25px;
    padding      : 0 26px 25px 37px;
    min-height   : 350px;
}

.client-box p {
    color : var(--dark-blue);
    margin: 0;
}

.client-box .text-right {
    margin-top: auto;
}

.client-box img {
    margin-top   : -68px;
    margin-bottom: 23px;
    width        : 136px;
    height       : 136px;
}

.what-our-clients-say--subtitle {
    margin-bottom: 126px;
}


footer a {
    color: white;
}













/* The Modal (background) */
.modal {
    display         : none;
    /* Hidden by default */
    position        : fixed;
    /* Stay in place */
    z-index         : 1;
    /* Sit on top */
    left            : 0;
    top             : 0;
    width           : 100%;
    /* Full width */
    height          : 100%;
    /* Full height */
    overflow        : auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin          : 15% auto;
    /* 15% from the top and centered */
    padding         : 20px;
    border          : 1px solid #888;
    width           : 80%;
    /* Could be more or less, depending on screen size */
    border-radius   : 4px;
}

/* The Close Button */
.close {
    color      : #aaa;
    float      : right;
    font-size  : 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color          : black;
    text-decoration: none;
    cursor         : pointer;
}

.presentation-container {
    margin-bottom: 72px;
}

.how-it-works-container {
    margin-bottom: 242px;
}

.what-our-clients-say-container {
    margin-bottom: 206px;
}

.your-benefits-container {
    margin-bottom: 255px;
}

.form-container {
    margin-bottom: 190px;
}

.form-img-medium {
    display: none;
}

.flex-desktop-medium-down {
    display: none;
}


.form-horizontal-line {
    width: 354px;
    height: 15px;
    border-radius: 4px;
    display: inline-block;
}

.display-medium-up {
    display: block;
}

.display-mobile-only {
    display: none;
}

.display-medium-only {
    display: none;
}

.flex-medium-down {
    display: none;
}

.fixed-get-started {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.fixed-get-started .cta-btn {
    width: 100%;
    display: block;
    margin: 32px 40px;
}

.display-medium-down {
    display: none;
}


.how-it-works-flex, .your-benefits-flex {
    column-gap: 96px;
}

@media screen and (max-width: 1023px) {

    .flex-medium-down {
        display: flex;
    }
    

    .display-medium-only {
        display: block;
    }

    .display-medium-down {
        display: block;
    }
    

    h1 {
        font-size  : 36px;
        line-height: 46px;
    }

    h2 {
        font-size  : 24px;
        line-height: 30px;
        font-weight: 700 !important;
    }

    h3 {
        font-size  : 20px;
        line-height: 25px;
    }

    h4 {
        font-size  : 20px;
        line-height: 25px;
    }

    .main-container h1 {
        font-size    : 48px;
        line-height  : 61px;
        margin-bottom: 16px;
    }

    .main-container .home-flex .home-flex-img {
        flex-basis : 434px;
        flex-shrink: 0;
    }

    .main-container .home-flex {
        gap: 0;
    }

    .header-cta-container {
        display: none;
    }

    .grid.how-it-works-flex {
        grid-template-columns: repeat(2, 2fr);
    }

    .how-it-works-flex {
        text-align: center;
    }

    .how-it-works-flex {
        column-gap  : 52px;
        row-gap     : 43px;
        max-width   : 555px;
        margin-left : auto;
        margin-right: auto;
    }

    .how-it-works-flex h4 {
        margin-bottom: 24px;
        margin-top   : 16px;
    }

    .how-it-works-container h2 {
        margin-bottom: 57px;
    }

    .how-it-works-container {
        margin-bottom: 85px;
    }

    .what-our-clients-say-container h3 {
        font-size    : 24px;
        line-height  : 30px;
        margin-bottom: 8px;
    }

    .what-our-clients-say--subtitle {
        margin-bottom: 67px;
    }

    .client-box img {
        margin-top   : -27px;
        margin-bottom: 18px;
        width        : 54px;
        height       : 54px;
    }

    .client-box {
        padding: 0 25px 20px 25px
    }

    .what-our-clients-say-flex {
        gap: 21px;
    }

    .what-our-clients-say-container {
        margin-bottom: 48px;
    }

    .your-benefits-container {
        padding-top   : 40px;
        padding-bottom: 66px;
        margin-bottom: 55px;
    }

    .your-benefits-flex h3 {
        margin-bottom: 8px;
    }

    .form-container h4 {
        font-size    : 14px;
        line-height  : 17px;
        margin-bottom: 8px;
    }

    .form-container h3 {
        margin-bottom: 32px;
    }

    .form-container label {
        font-size    : 16px;
        line-height  : 20px;
        margin-bottom: 8px;
    }

    .form-row-2 {
        flex-direction: column;
        gap           : 24px;
    }

    #form-container,
    #form-container * {
        width: auto;
    }

    .form-side .cta-btn {
        margin-top: 24px;
        width     : 100% !important;
    }

    .form-wrapper {
        margin-bottom: 56px;
    }

    .form-side {
        max-width: 350px;
    }

    .step-2-container {
        margin-bottom: 56px;
    }

    .step-2-container h3 {
        margin-bottom: 16px;
    }

    .step-2-container .cta-btn {
        margin-top: 0;
    }

    .step-3-container {
        margin-bottom: 0;
    }

    .form-img-container {
        margin-left: calc(350px + 32px);
    }

    .form-img-desktop {
        display: none;
    }

    .form-img-medium {
        display: block;
    }

    .form-img-container {
        margin-top: 100px;
    }

    .form-container {
        margin-bottom: 110px;
    }

    .contact-us-container {
        padding-top: 34px;
        padding-bottom: 50px;
    }

    .contact-us-wrapper {
        max-width: 755px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-us-title {
        gap: 54px;
    }

    .contact-us-container {
        margin-bottom: 45px;
    }

    .display-desktop-only {
        display: none;
    }

    .flex-desktop-medium-down {
        display: flex;
    }

    .footer-container {
        padding-top: 90px;
        padding-bottom: 30px;
    }

    .footer-container .thememo-name {
        margin-top: calc(44px + 23px);
    }

    .form-horizontal-line {
        width: 92px;
        height: 15px;
    }

    .form-container h1 {
        margin-bottom: 40px;
    }

    .footer-container {
        margin-bottom: 147px;
    }

    .header {
        margin-bottom: 46px;
    }

}

@media screen and (max-width: 767px) {

    p {
        font-size: 16px;
line-height: 20px;
    }

    .main-container .home-flex {
        flex-direction: column-reverse;
        gap: 32px;
    }

    .main-container h1 {
        font-size: 32px;
line-height: 41px;
    }

    .main-container .cta-btn {
        margin-top: 60px;
    }

    .main-container .home-flex .home-flex-text {
        flex: 0;
    }

    .presentation-container {
        margin-bottom: 35px;
    }

    .how-it-works-container h2 {
        text-align: center;
        margin-bottom: 35px;
    }

    .grid.how-it-works-flex {
        grid-template-columns: repeat(1, 1fr);
    }

    .display-medium-up {
        display: none;
    }

    .display-mobile-only {
        display: block;
    }

    .how-it-works-flex > .flex {
        flex-flow: row nowrap;
        gap: 16px;
    }

    .how-it-works-flex > .flex h4 {
        margin-top: 0;
        margin-bottom: 8px;
    }


    .how-it-works-flex > .flex * {
        text-align: left;
    }
    
    .how-it-works-flex {
        gap: 40px;
        max-width: 350px;
    }

    .what-our-clients-say-container h3, .what-our-clients-say--subtitle {
        text-align: left;
    }

    .what-our-clients-say-flex > .flex {
        width: 298px;
        min-width: 298px;
        margin-top: 27px;
        height: 295px;
        min-height: unset;
    }

    .what-our-clients-say-flex {
        overflow-x: scroll;
        margin-left: -32px;
        margin-right: -32px;
    }

    .what-our-clients-say--subtitle {
        margin-bottom: 59px;
    }

    .what-our-clients-say-container {
        margin-bottom: 27px;
    }

    .your-benefits-flex {
        flex-direction: column;
        max-width: 350px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
        grid-template-columns: repeat(1, 1fr) !important
    }

    .your-benefits-flex > * {
        width: 100% !important;
    }

    .your-benefits-flex .img-container, .your-benefits-flex h3 {
        margin-bottom: 16px;
    }

    .your-benefits-container {
        padding-top: 27px;
        padding-bottom: 31px;
        margin-bottom: 32px;
    }

    .form-container h1 {
        margin-bottom: 66px;
    }

    .form-container {
        margin-bottom: 48px;
    }

    .display-medium-only {
        display: none;
    }

    .contact-us-title {
        flex-direction: column;
    }

    .contact-us-container {
        margin-bottom: 34px;
    }

    .contact-us-title {
        align-items: flex-start !important;
    }

    .contact-us-wrapper h2 {
        margin-bottom: 22px;
    }

    .contact-us-title {
        gap: 16px;
    }

    .footer-container {
        margin-bottom: 99px;
    }

    .terms-policy-flex {
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        gap: 24px;
    }

    .footer-container .thememo-name {
        margin-top: 18px;
    }

    .footer-container {
        padding-top: 50px;
        padding-bottom: 31px;
    }

    .fixed-get-started .cta-btn {
        margin: 16px 32px;
    }


    .header {
        margin-bottom: 40px;
    }
    
}
